<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>搞笑</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996489657-66932d6c032ffb618ea814a3a7513069.jpg</string>
		<key>id</key>
		<string>44</string>
	</dict>
	<dict>
		<key>name</key>
		<string>军事</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996438842-c856e5e5fb9dbf9683eee4e64d14ffc1.jpg</string>
		<key>id</key>
		<string>89</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996449821-fba7ada526d4b02cc64aff32e899fa4a.jpg</string>
		<key>id</key>
		<string>91</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996463380-cf4c9528fa91f4c3e5487c5cca9d4735.jpg</string>
		<key>id</key>
		<string>53</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996479275-c4483a23efdee1df00cf7ea753011ef3.jpg</string>
		<key>id</key>
		<string>75</string>
	</dict>
	<dict>
		<key>name</key>
		<string>知识</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996505925-255c31f6e9a76c247271a5e2bb22ef48.jpg</string>
		<key>id</key>
		<string>87</string>
	</dict>
	<dict>
		<key>name</key>
		<string>创意</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996519470-4ec064c8881911c742b4d75d4e4944fa.jpg</string>
		<key>id</key>
		<string>78</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996536175-a7a03904c412040794c26a197c24cd2d.jpg</string>
		<key>id</key>
		<string>79</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生活</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996548138-5b97689d79ef7f862610b1fd6092ffba.jpg</string>
		<key>id</key>
		<string>47</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时尚</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996562476-908bf7c6ecb58c66e9dbf2291e720f2a.jpg</string>
		<key>id</key>
		<string>51</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运动</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996575119-158f64d375aebb0cf7c544e55323062d.jpg</string>
		<key>id</key>
		<string>52</string>
	</dict>
	<dict>
		<key>name</key>
		<string>财富</string>
		<key>icon</key>
		<string>http://img.klm123.com/1531996611258-b360d482ad1f2c6f23682cbe23ee5204.jpg</string>
		<key>id</key>
		<string>92</string>
	</dict>
</array>
</plist>
